node_modules/
src/generated/
*.env*
!.env.example
*.pem
*.key
*.crt
prisma/dev.old.db
prisma/dev.db
dev.db
.env
.env.development
.env.production
schema.graphql
yarn.lock
test.json
.vercel
files/
sendgrid.env
bun.lockb
